<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.translate.mapper.LocationMapper">

  <resultMap id="province" type="com.translate.domain.model.Province">
    <id property="id" column="id"/>
    <result property="name" column="province_name"/>
  </resultMap>

  <resultMap id="city" type="com.translate.domain.model.City">
    <id property="id" column="id"/>
    <result property="provinceId" column="province_id"/>
    <result property="name" column="city_name"/>
  </resultMap>

  <select id="queryAllProvinces" resultMap="province">
      select * from PROVINCE where 1 = 1
  </select>

  <select id="queryAllCitiesInProvince" parameterType="java.lang.String"
    resultMap="city">
      select * from CITY where province_id = #{0}
  </select>

</mapper>