<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.translate.mapper.UserMapper">

  <!-- 这儿定义一个resultMap -->
  <resultMap type="com.translate.domain.UserVo" id="userVo">
    <id property="userId" column="ID"/>
    <result property="userName" column="NAME"/>
    <result property="userAge" column="AGE"/>
    <result property="userPassword" column="password"/>
  </resultMap>

  <select id="findUserInfo" resultMap="userVo">
    select * from USER;
  </select>
 
</mapper>